@import url("https://fonts.googleapis.com/css?family=Oswald");

:root {
  --background: #000;
  --text: #fff;
  --highlight: #f95738;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 1.3em;
}

/* logo settings */
header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url(./assets/images/parkit\ website\ background.jpg) center
    no-repeat;
  /* Image Credit: Unsplash.me */
  background-size: cover;
}
header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
header h1,
header h2 {
  margin: 0;
}

header hgroup {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  border: 5px solid #fff;
  padding: 0.5em 3em;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* about page */
.site {
  padding: 20em 0;
  text-align: center;
  background-color: #efefef;
  font-size: 0.8em;
  color: #444;
  position: relative;
}

/* nav bar */
.site nav {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--background);
  width: 100%;
}

/* new nav bar */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.theme-switch {
  --background: #fff;
  --text: #000;
  color: var(--text);
  width: 70px;
  height: 30px;
  background: var(--highlight);
  border-radius: 50px;
  position: relative;
}

.theme-switch .switch {
  background: white;
  width: 24px;
  height: 24px;
  background: var(--background);
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: 0.5s all ease;
}

.light-theme {
  --background: #fff;
  --text: #000;
  background: var(--background);
}
.light-theme .theme-switch {
  background: var(--text);
}
.light-theme .theme-switch .switch {
  transform: translateX(37px);
}
.light-theme a {
  color: var(--text);
}

/* .navigation {
  display: flex;
  justify-content: center;
} */

/* ul {
  display: flex;
  list-style-type: none;
} */
ul a {
  margin: 10px 30px;
  position: relative;
  color: var(--text);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
ul a:before {
  position: absolute;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 3px;
  background: var(--highlight);
  transform: translateX(-100%);
  opacity: 0;
}
ul a:hover:before {
  opacity: 1;
  transition: 0.5s transform ease, 0.8s opacity ease;
  transform: translateX(0);
}
ul .active {
  color: var(--highlight);
}
ul .active:hover:before {
  opacity: 0;
}
